p.first{
text-alignment:center;
text-decoration:overline;
text-indent:50px;
text-transform:capitalize;
font-style:italic;
font-size:20px;
}
p.second{
text-alignment:right;
text-decoration:line-through;
text-indent:50px;
text-transform:uppercase;
font-style:bold;
font-size:30px;
}
p.third{
text-alignment:left;
text-decoration:underline;
text-indent:50px;
text-transform:lowercase;
font-style:normal;
font-size:40px;
}
a:hover{
color:red;
background-color:yellow;
}
a:active{
color:blue;
background-color:pink;
}
a:visited{
color:green;
background-color:red;
}

